<h1>Books</h1>

<h2>Available Books</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Available</th>
    <th>Rental Count</th>
    <th>Rent Book</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of availableBooks">
    <td>{{ book.title }}</td>
    <td>{{ book.author.name }}</td>
    <td>{{ book.genre }}</td>
    <td>{{ book.available ? 'Available' : 'Not Available' }}</td>
    <td>{{ book.rentalCount }}</td>
    <td>
      <button (click)="rentBook(book)" *ngIf="book.available">Rent</button>
    </td>
  </tr>
  </tbody>
</table>

<h2>Unavailable Books</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Available</th>
    <th>Rental Count</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of unavailableBooks">
    <td>{{ book.title }}</td>
    <td>{{ book.author.name }}</td>
    <td>{{ book.genre }}</td>
    <td>{{ book.available ? 'Available' : 'Not Available' }}</td>
    <td>{{ book.rentalCount }}</td>
  </tr>
  </tbody>
</table>

<!-- Selected Author Books Table -->
<h2>Books by Selected Author</h2>
<div>
  <select [(ngModel)]="selectedAuthorId" (change)="getBooksByAuthor()">
    <option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</option>
  </select>
  <button (click)="resetAuthorSelection()">Reset</button>
</div>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Available</th>
    <th>Rental Count</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of selectedAuthorBooks">
    <td>{{ book.title }}</td>
    <td>{{ book.author.name }}</td>
    <td>{{ book.genre }}</td>
    <td>{{ book.available ? 'Available' : 'Not Available' }}</td>
    <td>{{ book.rentalCount }}</td>
    <td>
      <button *ngIf="book.available" (click)="rentBook(book)">Rent</button>
    </td>
  </tr>
  </tbody>
</table>

<h2>Books by Genre</h2>
<div>
  <label for="genreSearch">Enter Genre:</label>
  <input type="text" id="genreSearch" [(ngModel)]="genreSearchText">
  <button (click)="getBooksByGenre()">Search</button>
</div>

<p *ngIf="booksByGenre.length === 0 && genreSearchError" class="error-message">{{ genreSearchError }}</p>


<table *ngIf="booksByGenre.length > 0">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Available</th>
    <th>Rental Count</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of booksByGenre">
    <td>{{ book.title }}</td>
    <td>{{ book.author.name }}</td>
    <td>{{ book.genre }}</td>
    <td>{{ book.available ? 'Available' : 'Not Available' }}</td>
    <td>{{ book.rentalCount }}</td>
    <td>
      <button *ngIf="book.available" (click)="rentBook(book)">Rent</button>
    </td>
  </tr>
  </tbody>
</table>

