/* You can add global styles to this file, and also import other style files */

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Button styles */
button {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Error message styles */
.error-message {
  color: red;
}

/* Additional styles for specific sections */

/* Book List */
.mat-elevation-z8 {
  margin-bottom: 40px;
}

/* Additional styles for Book Table */
.status-icon::before {
  content: '\2714'; /* Unicode character for tick symbol */
  color: green;
}

.status-icon.red-cross::before {
  content: '\2718'; /* Unicode character for cross symbol */
  color: red;
}

/* Additional styles for Selected Author Books Table */
.selected-author-books-container {
  margin-bottom: 40px;
}
