<h1 class="mat-h1">Rentals</h1>

<h2 class="mat-h2">Overdue Rentals</h2>
<table mat-table class="mat-elevation-z8">
  <ng-container matColumnDef="book">
    <th mat-header-cell *matHeaderCellDef>Book</th>
    <td mat-cell *matCellDef="let rental">{{ rental.book.title }}</td>
  </ng-container>
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let rental">{{ rental.book.author.name }}</td>
  </ng-container>
  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Genre</th>
    <td mat-cell *matCellDef="let rental">{{ rental.book.genre }}</td>
  </ng-container>
  <ng-container matColumnDef="returnDate">
    <th mat-header-cell *matHeaderCellDef>Return Date</th>
    <td mat-cell *matCellDef="let rental">{{ rental.returnDate }}</td>
  </ng-container>
  <ng-container matColumnDef="returned">
    <th mat-header-cell *matHeaderCellDef>Returned</th>
    <td mat-cell *matCellDef="let rental">
      <span class="status-icon" [ngClass]="{ 'green-tick': rental.returned, 'red-cross': !rental.returned }"></span>
    </td>
  </ng-container>
  <ng-container matColumnDef="returnBook">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let rental">
      <button mat-raised-button color="primary" *ngIf="!rental.returned" (click)="returnBook(rental)">Return</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['book', 'author', 'genre', 'returnDate', 'returned', 'returnBook']"></tr>
  <tr mat-row *matRowDef="let rental; columns: ['book', 'author', 'genre', 'returnDate', 'returned', 'returnBook'];"></tr>
</table>


<h2 class="mat-h2">Ongoing Rentals</h2>
<table mat-table class="mat-elevation-z8">
  <ng-container matColumnDef="book">
    <th mat-header-cell *matHeaderCellDef>Book</th>
    <td mat-cell *matCellDef="let rental">{{ rental.book.title }}</td>
  </ng-container>
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let rental">{{ rental.book.author.name }}</td>
  </ng-container>
  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Genre</th>
    <td mat-cell *matCellDef="let rental">{{ rental.book.genre }}</td>
  </ng-container>
  <ng-container matColumnDef="returnDate">
    <th mat-header-cell *matHeaderCellDef>Return Date</th>
    <td mat-cell *matCellDef="let rental">{{ rental.returnDate }}</td>
  </ng-container>
  <ng-container matColumnDef="returned">
    <th mat-header-cell *matHeaderCellDef>Returned</th>
    <td mat-cell *matCellDef="let rental">
      <span class="status-icon" [ngClass]="{ 'green-tick': rental.returned, 'red-cross': !rental.returned }"></span>
    </td>
  </ng-container>
  <ng-container matColumnDef="returnBook">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let rental">
      <button mat-raised-button color="primary" *ngIf="!rental.returned" (click)="returnBook(rental)">Return</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['book', 'author', 'genre', 'returnDate', 'returned', 'returnBook']"></tr>
  <tr mat-row *matRowDef="let rental; columns: ['book', 'author', 'genre', 'returnDate', 'returned', 'returnBook'];"></tr>
</table>

<h2 class="mat-h2">Returned Rentals</h2>
<table mat-table class="mat-elevation-z8">
  <ng-container matColumnDef="book">
    <th mat-header-cell *matHeaderCellDef>Book</th>
    <td mat-cell *matCellDef="let rental">{{ rental.book.title }}</td>
  </ng-container>
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let rental">{{ rental.book.author.name }}</td>
  </ng-container>
  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Genre</th>
    <td mat-cell *matCellDef="let rental">{{ rental.book.genre }}</td>
  </ng-container>
  <ng-container matColumnDef="returnDate">
    <th mat-header-cell *matHeaderCellDef>Return Date</th>
    <td mat-cell *matCellDef="let rental">{{ rental.returnDate }}</td>
  </ng-container>
  <ng-container matColumnDef="returned">
    <th mat-header-cell *matHeaderCellDef>Returned</th>
    <td mat-cell *matCellDef="let rental">
      <span class="status-icon" [ngClass]="{ 'green-tick': rental.returned, 'red-cross': !rental.returned }"></span>
    </td>
  </ng-container>
  <ng-container matColumnDef="returnBook">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let rental">
      <button mat-raised-button color="primary" *ngIf="!rental.returned" (click)="returnBook(rental)">Return</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['book', 'author', 'genre', 'returnDate', 'returned', 'returnBook']"></tr>
  <tr mat-row *matRowDef="let rental; columns: ['book', 'author', 'genre', 'returnDate', 'returned', 'returnBook'];"></tr>
</table>
