/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #f2f2f2; /* Lighter gray color */

}

/* Button styles */
button {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Error message styles */
.error-message {
  color: red;
}


.status-icon::before {
  content: '\2714'; /* Unicode character for tick symbol */
  color: green;
}

.status-icon.red-cross::before {
  content: '\2718'; /* Unicode character for cross symbol */
  color: red;
}

.box {
  margin: 10px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
