<h1>Rentals</h1>

<h2>All Rentals</h2>
<table>
  <thead>
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Return Date</th>
    <th>Returned</th>
    <th>Return Book</th> <!-- New column -->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rental of rentals">
    <td>{{ rental.book.title }}</td>
    <td>{{ rental.book.author.name }}</td>
    <td>{{ rental.book.genre }}</td>
    <td>{{ rental.returnDate }}</td>
    <td>{{ rental.returned ? 'Returned' : 'Not Returned' }}</td>
    <td>
      <button *ngIf="!rental.returned" (click)="returnBook(rental)">Return</button>
    </td>
  </tr>
  </tbody>
</table>

<h2>Overdue Rentals</h2>
<table>
  <thead>
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Return Date</th>
    <th>Returned</th>
    <th>Return Book</th> <!-- New column -->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rental of overdueRentals">
    <td>{{ rental.book.title }}</td>
    <td>{{ rental.book.author.name }}</td>
    <td>{{ rental.book.genre }}</td>
    <td>{{ rental.returnDate }}</td>
    <td>{{ rental.returned ? 'Returned' : 'Not Returned' }}</td>
    <td>
      <button *ngIf="!rental.returned" (click)="returnBook(rental)">Return</button>
    </td>
  </tr>
  </tbody>
</table>
